body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 246, 230);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

nav {
    display: flex;
    margin: 0;
    padding: 1px;
    height: 80px;
    gap: 80px;
    background-color: #1A1E26;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #ccc5b9;
    font-weight: 400;
    font-size: 160%;
}

.nav-links:hover {
    color: #fff6e0;
}

.nav-37 {
    font-size: 250%;
    text-decoration: none;
    color: #ccc5b9;
}

.nav-37:hover {
    color: #fff6e0;
}

.projects-heading {
    text-align: center;
    padding: 25px;
    margin: 0px;
    color: #272829;
    font-size: 150%;
}

.subtitle-1 {
    padding: 0px;
    margin: 0px;
    color: #272829;
    text-align: center;
    font-size: 120%;
}

.para-1 {
    padding: 1px;
    margin: 0px;
    color: #61677a;
    text-align: center;
    font-size: 110%;
}

.xbox-manager-container {
    width: 20px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.xbox-manager {
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    display: block;
}