body {
    margin: 0px;
    padding: 0px;
    background-color: #fff6e0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 100;*/
    font-style: normal;
}

.nav-bar {
    padding: 1px;
    margin: 0;
    background-color: #272829;
    text-align: center;
    font-weight: 200;
    font-size: 150%;
}

.projects-heading {
    text-align: center;
    padding: 1px;
    margin: 0px;
    color: #272829;
}

.subtitle-1 {
    padding: 1px;
    margin: 0px;
    color: #272829;
    text-align: center;
}

.para-1 {
    padding: 1px;
    margin: 0px;
    color: #61677a;
    text-align: center;
}
