/*

-- Color Scheme --

#272829 -- Background for nav-bar / footer

#61677A -- Text for secondary content

#D8D9DA -- Borders / dividers / hover effects

#FFF6E0 -- Main background

*/

body {
    background-color: #fff6e0;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 100;*/
    font-style: normal;
}

.nav-bar {
    margin: 0;
    padding: 1px;
    background-color: #272829;
    text-align: center;
    font-weight: 200;
    font-size: 150%;
}

.horizon37-title {
    text-align: center;
    font-size: 350%;
    font-weight: 900;
    padding: 1px;
    margin: 10px;
    color: #272829;
    letter-spacing: 0.2px;
}

.placeholder {
    color: #d8d9da;
    text-align: center;
    font-size: 100%;
    background-color: #272829;
    padding: 20px;
    margin: 0px;
}
