body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #222629;
    font-family: "Josefin Sans";   
    font-optical-sizing: auto;
    font-weight: 300;
    
}

#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .04;
  pointer-events: none;
}

nav {
    display: flex;
    margin: 0;
    padding: 1px;
    height: 100px;
    gap: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #222629;
}

.nav-links {
    text-decoration: none;
    color: #6B6E70;
    font-weight: 400;
    font-size: 150%;
}

.nav-links:hover {
    color: #86C232;
}

.nav-37 {
    font-size: 250%;
    text-decoration: none;
    color: #86C232;
}

.nav-37:hover {
    color: hsl(85, 59%, 65%);
}

.line {
    margin: 0px;
    border: none;
    border: solid #86C232;
    border-top: none;
}

.H37-title {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1000%;
    font-weight: 700;
    padding: 1px;
    margin: 10px;
    color: #ffffff;
}

.placeholder {
    color: #6B6E70;
    text-align: center;
    font-size: 110%;
    padding: 0px;
    margin: 0px;
    font-size: 170%;
}