/*

-- Color Scheme --

#272829 -- Background for nav-bar / footer

#61677A -- Text for secondary content

#D8D9DA -- Borders / dividers / hover effects

#FFF6E0 -- Main background

*/

body {
    margin: 0px;
    background-color: #fff6e0;
    font-family: "Josefin Sans";   
    font-optical-sizing: auto;
    font-weight: 300;

}

nav {
    display: flex;
    margin: 0;
    padding: 1px;
    height: 80px;
    gap: 80px;
    background-color: #272829;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #ccc5b9;
    font-weight: 400;
    font-size: 160%;
}

.nav-links:hover {
    color: #fff6e0;
}

.nav-37 {
    font-size: 250%;
    text-decoration: none;
    color: #ccc5b9;
}

.nav-37:hover {
    color: #fff6e0;
}

.horizon37-title {
    text-align: center;
    font-size: 350%;
    font-weight: 900;
    padding: 1px;
    margin: 10px;
    color: #272829;
    letter-spacing: 0.2px;
}

.placeholder {
    color: #d8d9da;
    text-align: center;
    font-size: 110%;
    background-color: #272829;
    padding: 20px;
    margin: 0px;
    font-size: 170%;
}