body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #222629;
    font-family: "Josefin Sans", sans-serif;   
    font-optical-sizing: auto;
    font-weight: 300;
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
    filter: brightness(.9);
    pointer-events: none;
    animation: bg-fadein 1s ease forwards;
}

@keyframes bg-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}

nav {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 1px;
    height: 80px;
    gap: clamp(.5rem, 1.5vw, 2rem);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222629;
}

    .nav-links {
        text-decoration: none;
        color: #6B6E70;
        font-weight: 400;
        font-size: 1.4rem;
    }

        .nav-links:hover {
            color: #8AC2BB;
        }

        .selected {
            color: #8AC2BB;
            font-size: 1.7rem;
        }
        .nav-37 {
            font-size: 180%;
        }

        .grow-text {
            display: inline-block;
            transition: transform 0.3s ease;
        }

        .grow-text:hover {
            transform: scale(1.15); /* Grows the text */
        }

    .line {
        margin: 0px;
        border: none;
        border: solid #8AC2BB;
        border-top: none;
        animation: linehr ease-in 1s;
    }

    @keyframes linehr {
        0% {
            transform: scaleX(0);
            opacity: 0;
        }
    }